.navbar {
    background-color: #963f96;
}

body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.navbar {
    background:#141812;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}


.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}

.description h1 {
    color: #4c792e;
    text-align: center;
}
.description p {
    color: rgb(10, 10, 10);
    font-size: 1.3rem;
    line-height: 1.5;
    text-align: center;
}

  