body {
    padding: 0;
    margin: 0;
   
}
.navbar{
    background:hsl(0, 0%, 100%);
    
}
.nav-link,
.navbar-brand {
    color: rgb(3, 3, 3);
    cursor: pointer;
    
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}


header {
 height: 100vh;
 background-image: url('../img/Knitting-Needles-1024x594.jpg');

 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-size: cover; 
 margin-bottom: 30px;
} 




h1 {
    text-align: center;
    text-decoration-color: #000;
}

p {
    text-align: center;
    text-decoration-color: rgb(17, 17, 17);
}